<header>
  <a href="https://Insight-Services-APAC.github.io/" title="Practice Playbook"><img src="https://insight-services-apac.github.io/assets/images/insight-logo.svg" alt="Insight Tech APAC Blog Logo" height="32" width="129.92"></a>
  <div class="follow-btns">
    <input type="search" id="search-input" placeholder="search...">&nbsp;
    <a class="btn btn-twitter-round" href="https://twitter.com/InsightTechAPAC" target="_blank" rel="noopener noreferrer" alt="Insight Tech APAC on Twitter" title="Insight Tech APAC on Twitter"><span class="sr-only">Twitter</span></a>
    <a class="btn btn-github-round" href="https://github.com/Insight-Services-APAC/playbook" target="_blank" rel="noopener noreferrer" alt="Insight Tech APAC on GitHub" title="Insight Tech APAC on GitHub"><span class="sr-only">GitHub</span></a>
    <a class="btn btn-rss-round" href="/feed.xml" target="_blank" alt="Practice Playbook on RSS" title="RSS"><span class="sr-only">RSS</span></a>
  </div>
</header>