<nav>
  <ul>
    <li><a href="https://github.com/Insight-Services-APAC/playbook/discussions">GitHub</a></li>
    <li><a href="https://bit.ly/insight-schedule">Schedule</a></li>
    <li><a href="https://na1.replicon.com/Insight/main.aspx">Replicon</a></li>
    <li><a href="https://insight.qorusbreeze.com/Pages/Dashboard.aspx">Qorus</a></li>
    <li><a href="https://github.com/Insight-Services-APAC/azure-integration-accelerator">AIS Landing Zone</a></li>
    <li><a href="https://insight.achievers.com/recent_activity">Recognise</a></li>
    <li><a href="https://insightonlineaus.sharepoint.com/sites/Juice?e=1%3A2814bba608ce4d63be6d80de815eee4f">Juice</a></li>
  </ul>
</nav>